.company-logo-icon7 {
  align-self: stretch;
  width: 63px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 27px;
}
.link41 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 44px;
}
.link-one3 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.link42 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 43px;
}
.link-two3 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.link43 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 53px;
}
.link-three3 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.column14 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.link44 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 66px;
}
.link-three4 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.link45 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 54px;
}
.link-three5 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.content73 {
  width: 459px;
  background-color: #fffce2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
}
.button71 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 48px;
}
.button70 {
  cursor: pointer;
  border: 1px solid #000;
  padding: 6px 19px;
  background-color: transparent;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button70:hover {
  background-color: rgba(51, 51, 51, 0.09);
  border: 1px solid #333;
  box-sizing: border-box;
}
.button73 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #fff;
  text-align: left;
  display: inline-block;
  min-width: 48px;
}
.button72 {
  cursor: pointer;
  border: 1px solid #000;
  padding: 6px 19px;
  background-color: #000;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button72:hover {
  background-color: #333;
  border: 1px solid #333;
  box-sizing: border-box;
}
.actions9 {
  width: 195px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.content72 {
  align-self: stretch;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 64px 14px;
  gap: 20px;
  max-width: 100%;
}
.looking-for-a1 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 127px;
  white-space: nowrap;
}
.get-in-touch1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: 16px;
  text-decoration: underline;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 86px;
  white-space: nowrap;
}
.content75 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.content74 {
  align-self: stretch;
  background-color: #eee;
  border-bottom: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 16px 20px 14px;
}
.mega-menu1 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.navbar-91 {
  flex: 1;
  background-color: #fffce2;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Roboto;
}
.heading22 {
  width: 100%;
  position: sticky;
  background-color: #fffce2;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  top: 0;
  z-index: 99;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1225px) {
  .actions9 {
    display: none;
  }
}
@media screen and (max-width: 1050px) {
  .content72 {
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .looking-for-a1 {
    display: none;
  }

  .content75 {
    display: none;
  }
}
