.company-logo-icon1 {
  align-self: stretch;
  width: 63px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 27px;
}
.link15 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 44px;
}
.link-one1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  mix-blend-mode: color-dodge;
}
.link16 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 43px;
}
.link-two1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.link17 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 53px;
}
.link-three1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.link18 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 46px;
}
.chevron-down-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.nav-link-dropdown {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  height: 24px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  min-width: 44px;
}
.link-four1 {
  width: 74px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.column3 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.content2 {
  width: 397px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
}
.button3 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 44px;
  white-space: nowrap;
}
.button2 {
  cursor: pointer;
  border: 1px solid #000;
  padding: 6px 19px;
  background-color: transparent;
  width: 84px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button2:hover {
  background-color: rgba(51, 51, 51, 0.09);
  border: 1px solid #333;
  box-sizing: border-box;
}
.button5 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #fff;
  text-align: left;
  display: inline-block;
  min-width: 59px;
}
.button4 {
  cursor: pointer;
  border: 1px solid #000;
  padding: 6px 19px;
  background-color: #000;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button4:hover {
  background-color: #333;
  border: 1px solid #333;
  box-sizing: border-box;
}
.actions1 {
  width: 199px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.content1 {
  align-self: stretch;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 64px 14px;
  position: sticky;
  top: 0;
  z-index: 99;
  max-width: 100%;
  gap: 20px;
}
.icon-relume {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.page-one {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  font-family: Roboto;
  color: #000;
  text-align: left;
}
.lorem-ipsum-dolor {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
}
.content3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 179px;
}
.menu-item {
  cursor: pointer;
  border: none;
  padding: 8px 0px;
  background-color: transparent;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: 12px;
  min-width: 287px;
  max-width: 312px;
}
.icon-relume1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.page-two {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  font-family: Roboto;
  color: #000;
  text-align: left;
}
.lorem-ipsum-dolor1 {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
}
.content4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 179px;
}
.menu-item1 {
  cursor: pointer;
  border: none;
  padding: 8px 0px;
  background-color: transparent;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: 12px;
  min-width: 287px;
  max-width: 312px;
}
.icon-relume2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.page-three {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  font-family: Roboto;
  color: #000;
  text-align: left;
}
.lorem-ipsum-dolor2 {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
}
.content5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 179px;
}
.menu-item2 {
  cursor: pointer;
  border: none;
  padding: 8px 0px;
  background-color: transparent;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: 12px;
  min-width: 287px;
  max-width: 312px;
}
.icon-relume3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.page-four {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  font-family: Roboto;
  color: #000;
  text-align: left;
}
.lorem-ipsum-dolor3 {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
}
.content6 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 179px;
}
.menu-item3 {
  cursor: pointer;
  border: none;
  padding: 8px 0px;
  background-color: transparent;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: 12px;
  min-width: 287px;
  max-width: 312px;
}
.menu-list {
  width: 1344px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
}
.menu {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 32px;
  box-sizing: border-box;
  max-width: 100%;
}
.looking-for-a {
  position: relative;
  line-height: 150%;
}
.get-in-touch {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  height: 24px;
  width: 73px;
  position: relative;
  font-size: 16px;
  text-decoration: underline;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 73px;
}
.content8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.content7 {
  align-self: stretch;
  background-color: #eee;
  border-bottom: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 16px 20px 14px;
}
.mega-menu {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Roboto;
}
.navbar-9 {
  flex: 1;
  background-color: #fffce2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.header {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  letter-spacing: normal;
  line-height: normal;
}

@media screen and (max-width: 725px) {
  .content1 {
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 650px) {
  .column3 {
    display: none;
  }

  .content2 {
    width: 87px;
  }

  .menu-list {
    gap: 16px;
  }

  .menu {
    gap: 16px;
  }
}
@media screen and (max-width: 450px) {
  .menu-item {
    flex-wrap: wrap;
  }

  .menu-item1 {
    flex-wrap: wrap;
  }

  .menu-item2 {
    flex-wrap: wrap;
  }

  .menu-item3 {
    flex-wrap: wrap;
  }
}
