.company-logo-icon2 {
  height: 27px;
  width: 63px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.column6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.button21 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 44px;
}
.button20 {
  cursor: pointer;
  border: 1px solid var(--link-primary);
  padding: var(--padding-7xs) var(--padding-lgi);
  background-color: transparent;
  width: 84px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button20:hover,
.button22:hover,
.button24:hover,
.button26:hover,
.button28:hover,
.button30:hover,
.button32:hover,
.button34:hover {
  background-color: var(--color-darkslategray-200);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
}
.button23 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 43px;
}
.button22 {
  cursor: pointer;
  border: 1px solid var(--link-primary);
  padding: var(--padding-7xs) var(--padding-lgi);
  background-color: transparent;
  width: 83px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button25 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 53px;
}
.button24 {
  cursor: pointer;
  border: 1px solid var(--link-primary);
  padding: var(--padding-7xs) var(--padding-lgi);
  background-color: transparent;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button27 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 45px;
}
.button26 {
  cursor: pointer;
  border: 1px solid var(--link-primary);
  padding: var(--padding-7xs) var(--padding-lgi);
  background-color: transparent;
  width: 85px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button29 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--text-alternate);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.button28 {
  cursor: pointer;
  border: 1px solid var(--link-primary);
  padding: var(--padding-7xs) var(--padding-lgi);
  background-color: var(--link-primary);
  width: 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button28:hover,
.button30:hover,
.button32:hover,
.button34:hover {
  background-color: var(--color-darkslategray-100);
}
.button31 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--text-alternate);
  text-align: left;
  display: inline-block;
  min-width: 59px;
}
.button30 {
  cursor: pointer;
  border: 1px solid var(--link-primary);
  padding: var(--padding-7xs) var(--padding-lgi);
  background-color: var(--link-primary);
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.actions3,
.column7,
.content10 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.actions3 {
  margin: 0;
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.column7,
.content10 {
  align-items: center;
}
.column7 {
  width: 604px;
  justify-content: center;
}
.content10 {
  align-self: stretch;
  border-bottom: 1px solid var(--link-primary);
  box-sizing: border-box;
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-45xl) var(--padding-sm);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
}
.company-logo-icon3,
.navbar {
  overflow: hidden;
  flex-shrink: 0;
}
.company-logo-icon3 {
  width: 63px;
  height: 27px;
  position: relative;
  display: none;
}
.navbar {
  align-self: stretch;
  height: 72px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.log-in,
.login-description {
  align-self: stretch;
  position: relative;
}
.log-in {
  margin: 0;
  font-size: inherit;
  line-height: 58px;
  font-weight: 700;
  font-family: inherit;
  white-space: nowrap;
}
.login-description {
  font-size: var(--text-medium-normal-size);
  line-height: 150%;
}
.section-title2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.name {
  align-self: stretch;
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
}
.input,
.placeholder,
.text-input {
  align-self: stretch;
  max-width: 100%;
}
.placeholder {
  width: 536px;
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--color-neutral-neutral);
  text-align: left;
  display: none;
}
.input,
.text-input {
  display: flex;
  justify-content: flex-start;
}
.text-input {
  height: 48px;
  background-color: var(--text-alternate);
  border: 1px solid var(--link-primary);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs);
}
.input {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.forgot-your-password,
.password {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--link-primary);
}
.password {
  text-align: left;
  display: inline-block;
  min-width: 78px;
}
.forgot-your-password {
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
}
.input1,
.row2,
.text-input1 {
  align-self: stretch;
  display: flex;
}
.row2 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.input1,
.text-input1 {
  justify-content: flex-start;
}
.text-input1 {
  border: 1px solid var(--link-primary);
  outline: 0;
  background-color: var(--text-alternate);
  height: 48px;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs);
  min-width: 250px;
}
.input1 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.button33 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--text-alternate);
  text-align: left;
  display: inline-block;
  min-width: 44px;
}
.button32 {
  cursor: pointer;
  border: 1px solid var(--link-primary);
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--link-primary);
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.icon-google {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.button35 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
}
.button34,
.buttons {
  align-self: stretch;
  display: flex;
}
.button34 {
  cursor: pointer;
  border: 1px solid var(--link-primary);
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: transparent;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.button34:hover {
  background-color: var(--color-darkslategray-200);
}
.buttons {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.dont-have-an,
.link {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: center;
}
.link {
  text-decoration: underline;
  display: inline-block;
  min-width: 55px;
  white-space: nowrap;
  cursor: pointer;
}
.content12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.container,
.content11,
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.content11,
.form {
  justify-content: center;
  max-width: 100%;
}
.form {
  margin: 0;
  width: 480px;
  gap: var(--gap-5xl);
}
.content11 {
  align-self: stretch;
  padding: 123.5px 0;
  box-sizing: border-box;
  gap: var(--gap-13xl);
}
.text9 {
  width: 97px;
  position: relative;
  line-height: 150%;
  display: none;
}
.column8,
.footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  height: 72px;
  flex-direction: row;
  font-size: var(--text-small-link-size);
}
.column8 {
  flex: 0.8222;
  flex-direction: column;
  padding: 0 var(--padding-45xl);
  box-sizing: border-box;
  min-width: 468px;
  max-width: 100%;
}
.placeholder-image-icon1 {
  height: 900px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 468px;
}
.login-7 {
  align-self: stretch;
  background-color: var(--color-paleturquoise);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  row-gap: 20px;
  text-align: center;
  font-size: var(--heading-desktop-h2-size);
  color: var(--link-primary);
  font-family: var(--text-small-link);
}
.company-logo-icon4 {
  height: 27px;
  width: 63px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.logo1 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 430px;
  max-width: 100%;
}
.link-five1,
.link-four1,
.link-one1,
.link-three1,
.link-two1 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 43px;
}
.link-five1,
.link-four1,
.link-three1,
.link-two1 {
  min-width: 44px;
}
.link-five1,
.link-four1,
.link-three1 {
  min-width: 54px;
}
.link-five1,
.link-four1 {
  min-width: 41px;
}
.link-five1 {
  min-width: 61px;
}
.footer-links-container,
.links1 {
  display: flex;
  align-items: flex-start;
}
.links1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.footer-links-container {
  width: 370px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.icon-facebook1,
.icon-instagram1,
.icon-linkedin1,
.icon-x1,
.icon-youtube1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.social-links1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-xs);
}
.content13,
.social-container1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.social-container1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs-5) 0 0;
  box-sizing: border-box;
  min-width: 430px;
}
.content13 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-13xl);
}
.divider1 {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--link-primary);
  border: 1px solid var(--link-primary);
  box-sizing: border-box;
}
.relume-all-rights1 {
  height: 21px;
  width: 0;
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.cookies-settings1,
.privacy-policy1,
.terms-of-service1 {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
  display: inline-block;
  min-width: 87px;
}
.cookies-settings1,
.terms-of-service1 {
  flex: 1;
  min-width: 68px;
}
.footer-links1 {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  min-width: 224px;
}
.copyright,
.footer-links1,
.row3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.row3 {
  width: 369px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.copyright {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.credits1,
.footer-41,
.login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.credits1 {
  align-self: stretch;
  gap: var(--gap-13xl);
  max-width: 100%;
  font-size: var(--text-small-link-size);
}
.footer-41,
.login {
  overflow: hidden;
}
.footer-41 {
  align-self: stretch;
  background-color: var(--color-whitesmoke-100);
  padding: var(--padding-61xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--link-primary);
  font-family: var(--text-small-link);
}
.login {
  width: 100%;
  position: relative;
  background-color: var(--text-alternate);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1125px) {
  .column8,
  .placeholder-image-icon1 {
    flex: 1;
  }
  .login-7 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .content10 {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .log-in {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }
  .content11 {
    padding-top: var(--padding-61xl);
    padding-bottom: var(--padding-61xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .actions3 {
    display: none;
  }
  .column7 {
    width: 0;
  }
  .content11 {
    gap: var(--gap-base);
  }
  .column8 {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .column8,
  .logo1,
  .placeholder-image-icon1 {
    min-width: 100%;
  }
  .content13 {
    overflow-x: auto;
  }
  .content13,
  .credits1 {
    gap: var(--gap-base);
  }
  .footer-41 {
    gap: var(--gap-21xl);
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .log-in {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .links1,
  .row2 {
    flex-wrap: wrap;
  }
  .social-links1 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .relume-all-rights1 {
    width: 100%;
    height: 0;
  }
  .footer-links1 {
    flex-wrap: wrap;
  }
  .footer-41 {
    gap: var(--gap-xl);
  }
}
