<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'figma/about.css' %}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap"
    />
  </head>
  <body>
    <div class="about">
      <main class="content-parent">
        <header class="content22">
          <div class="column15">
            <img
              class="company-logo-icon11"
              loading="lazy"
              alt=""
              src="{% static 'public/company-logo.svg' %}"
            />
          </div>
          <div class="column16">
            <div class="actions6">
              <button class="button68" id="button">
                <div class="button69">Home</div>
              </button>
              <button class="button70">
                <div class="button71">About</div>
              </button>
              <button class="button72" id="button2">
                <div class="button73">Explore</div>
              </button>
              <button class="button74">
                <div class="button75">Extras</div>
              </button>
              <button class="button76" id="button4">
                <div class="button77">Login</div>
              </button>
              <button class="button78" id="button5">
                <div class="button79">Register</div>
              </button>
            </div>
          </div>
        </header>
        <section class="header-23">
          <div class="column17">
            <div class="content23">
              <h1 class="medium-length-hero1">
                Connecting people with Atlanta’s culinary world.
              </h1>
              <div class="lorem-ipsum-dolor1">
                Ever had trouble finding places to eat in Atlanta? FoodQuest
                takes that worry away.
              </div>
            </div>
            <div class="actions7">
              <div class="button80">
                <div class="button81">Button</div>
              </div>
              <div class="button82">
                <div class="button83">Button</div>
              </div>
            </div>
          </div>
        </section>
        <section class="layout-89-parent">
          <div class="layout-89">
            <div class="content24">
              <div class="column18">
                <div class="subheading1">Origin</div>
                <h1 class="heading7">Purpose</h1>
              </div>
              <div class="column19">
                <div class="lorem-ipsum-dolor2">
                  At Atlanta FoodQuest, our mission is to connect food
                  enthusiasts with the diverse culinary delights of the greater
                  Atlanta area. We aim to simplify the search for the perfect
                  place to eat by providing a comprehensive, user-friendly
                  platform that highlights the best restaurants and eateries.
                  Through our app, we strive to celebrate Atlanta’s rich food
                  culture and foster a community of passionate food lovers who
                  explore, discover, and share their dining experiences. Whether
                  you’re craving a classic Southern dish or new fusion cuisine,
                  ATL FoodQuest is here to guide you to your next great find.
                </div>
                <div class="actions8">
                  <div class="button84">
                    <div class="button85">Button</div>
                  </div>
                  <div class="button86">
                    <div class="button87">Button</div>
                    <img
                      class="icon-chevron-right1"
                      alt=""
                      src={% static "public/icon--chevronright1.svg" %}
                    />
                  </div>
                </div>
              </div>
            </div>
            <img
              class="placeholder-image-icon4"
              loading="lazy"
              alt=""
              src={% static "public/placeholder-image4@2x.png" %}
            />
          </div>
          <div class="logo-1">
            <b class="heading8">Powered By:</b>
            <div class="content25">
              <div class="row6">
                <img
                  class="logos-icon"
                  loading="lazy"
                  alt=""
                  src={% static "public/logos.svg"%}
                />

                <img
                  class="logos-icon1"
                  loading="lazy"
                  alt=""
                  src="./public/logos-1.svg"
                />

                <img
                  class="logos-icon2"
                  loading="lazy"
                  alt=""
                  src="./public/logos-2.svg"
                />

                <img
                  class="logos-icon3"
                  loading="lazy"
                  alt=""
                  src="./public/logos-3.svg"
                />

                <img
                  class="logos-icon4"
                  loading="lazy"
                  alt=""
                  src="./public/logos-2.svg"
                />

                <img
                  class="logos-icon5"
                  loading="lazy"
                  alt=""
                  src="./public/logos-5.svg"
                />
              </div>
              <div class="row7">
                <img class="logos-icon6" alt="" src="./public/logos.svg" />

                <img class="logos-icon7" alt="" src="./public/logos-1.svg" />

                <img class="logos-icon8" alt="" src="./public/logos-2.svg" />

                <img class="logos-icon9" alt="" src="./public/logos-5.svg" />

                <img class="logos-icon10" alt="" src="./public/logos-10.svg" />
              </div>
            </div>
          </div>
        </section>
        <section class="layout-237">
          <div class="section-title5">
            <div class="tagline1">Our values</div>
            <div class="content26">
              <h1 class="heading9">Features</h1>
              <div class="text15">
                Learn what benefits you can gain by using this site.
              </div>
            </div>
          </div>
          <div class="content27">
            <div class="row8">
              <div class="column20">
                <img
                  class="icon-relume3"
                  loading="lazy"
                  alt=""
                  src={% static "public/icon--relume1.svg" %}
                />

                <div class="content28">
                  <h1 class="heading10">Ease of Access</h1>
                  <div class="text16">
                    We give users the ability to explore the map of restaurants
                    without making an account. Find quick ratings and filters to
                    gain the most information in the least amount of time.
                  </div>
                </div>
              </div>
              <div class="column21">
                <img
                  class="icon-relume4"
                  loading="lazy"
                  alt=""
                  src={% static "public/icon--relume1.svg" %}
                />

                <div class="content29">
                  <h1 class="heading11">Quick Results</h1>
                  <div class="text17">
                    Use an extensive array of filters and features to quickly
                    narrow down the type of restaurant the user may want to
                    explore. Gain access to a randomly generated list of
                    restaurants, all with the click of a button.
                  </div>
                </div>
              </div>
              <div class="column22">
                <img
                  class="icon-relume5"
                  loading="lazy"
                  alt=""
                  src={% static "public/icon--relume1.svg"%}
                />

                <div class="content30">
                  <h1 class="heading12">User Benefits</h1>
                  <div class="text18">
                    Registered Users gain access to more in depth features on
                    the restaurants they may want to explore. Mark favorites,
                    read reviews, and even leave your own once you become a
                    registered user.
                  </div>
                </div>
              </div>
            </div>
            <div class="actions9">
              <div class="button88">
                <div class="button89">Button</div>
              </div>
              <div class="button90">
                <div class="button91">Button</div>
                <img
                  class="icon-chevron-right2"
                  alt=""
                  src={% static "public/icon--chevronright1.svg"%}
                />
              </div>
            </div>
          </div>
        </section>
        <section class="team-5">
          <div class="section-title6">
            <div class="subheading2">Our team</div>
            <div class="content31">
              <h1 class="heading13">Meet the Team</h1>
              <div class="lorem-ipsum-dolor3">
                A quick list of the developers and members that made this
                project possible.
              </div>
            </div>
          </div>
          <div class="content32">
            <div class="content33">
              <div class="row9">
                <div class="card">
                  <img
                    class="placeholder-image-icon5"
                    loading="lazy"
                    alt=""
                    src="./public/placeholder-image-1@2x.png"
                  />

                  <div class="content34">
                    <div class="title">
                      <div class="name3">Christopher LInder</div>
                      <div class="job-title">Product Owner</div>
                    </div>
                    <div class="text19"></div>
                  </div>
                  <div class="social-icons">
                    <img
                      class="icon-linkedin4"
                      loading="lazy"
                      alt=""
                      src="./public/icon--linkedin.svg"
                    />

                    <img
                      class="icon-x4"
                      loading="lazy"
                      alt=""
                      src="./public/icon--x.svg"
                    />

                    <img
                      class="icon-dribble"
                      loading="lazy"
                      alt=""
                      src="./public/icon--dribble.svg"
                    />
                  </div>
                </div>
                <div class="card1">
                  <img
                    class="placeholder-image-icon6"
                    loading="lazy"
                    alt=""
                    src="./public/placeholder-image-2@2x.png"
                  />

                  <div class="content35">
                    <div class="title1">
                      <div class="name4">Stephen Linder</div>
                      <div class="job-title1">Technical Support</div>
                    </div>
                    <div class="text20"></div>
                  </div>
                  <div class="social-icons1">
                    <img
                      class="icon-linkedin5"
                      alt=""
                      src="./public/icon--linkedin.svg"
                    />

                    <img class="icon-x5" alt="" src="./public/icon--x.svg" />

                    <img
                      class="icon-dribble1"
                      alt=""
                      src="./public/icon--dribble.svg"
                    />
                  </div>
                </div>
                <div class="card2">
                  <img
                    class="placeholder-image-icon7"
                    loading="lazy"
                    alt=""
                    src="./public/placeholder-image-3@2x.png"
                  />

                  <div class="content36">
                    <div class="title2">
                      <div class="name5">Aryan Bhatia</div>
                      <div class="job-title2">Administrative Lead</div>
                    </div>
                    <div class="text21"></div>
                  </div>
                  <div class="social-icons2">
                    <img
                      class="icon-linkedin6"
                      alt=""
                      src="./public/icon--linkedin.svg"
                    />

                    <img class="icon-x6" alt="" src="./public/icon--x.svg" />

                    <img
                      class="icon-dribble2"
                      alt=""
                      src="./public/icon--dribble.svg"
                    />
                  </div>
                </div>
              </div>
              <div class="row10">
                <div class="card3">
                  <img
                    class="placeholder-image-icon8"
                    loading="lazy"
                    alt=""
                    src="./public/placeholder-image-1@2x.png"
                  />

                  <div class="content37">
                    <div class="title3">
                      <div class="name6">Charles McHenry</div>
                      <div class="job-title3">Developer</div>
                    </div>
                    <div class="text22"></div>
                  </div>
                  <div class="social-icons3">
                    <img
                      class="icon-linkedin7"
                      loading="lazy"
                      alt=""
                      src="./public/icon--linkedin.svg"
                    />

                    <img
                      class="icon-x7"
                      loading="lazy"
                      alt=""
                      src="./public/icon--x.svg"
                    />

                    <img
                      class="icon-dribble3"
                      loading="lazy"
                      alt=""
                      src="./public/icon--dribble.svg"
                    />
                  </div>
                </div>
                <div class="card4">
                  <img
                    class="placeholder-image-icon9"
                    loading="lazy"
                    alt=""
                    src="./public/placeholder-image-2@2x.png"
                  />

                  <div class="content38">
                    <div class="title4">
                      <div class="name7">Milind Sharma</div>
                      <div class="job-title4">Developer</div>
                    </div>
                    <div class="text23"></div>
                  </div>
                  <div class="social-icons4">
                    <img
                      class="icon-linkedin8"
                      alt=""
                      src="./public/icon--linkedin.svg"
                    />

                    <img class="icon-x8" alt="" src="./public/icon--x.svg" />

                    <img
                      class="icon-dribble4"
                      alt=""
                      src="./public/icon--dribble.svg"
                    />
                  </div>
                </div>
                <div class="card5">
                  <img
                    class="placeholder-image-icon10"
                    loading="lazy"
                    alt=""
                    src="./public/placeholder-image-3@2x.png"
                  />

                  <div class="content39">
                    <div class="title5">
                      <div class="name8">Pedro</div>
                      <div class="job-title5">Advisor</div>
                    </div>
                    <div class="text24"></div>
                  </div>
                  <div class="social-icons5">
                    <img
                      class="icon-linkedin9"
                      alt=""
                      src="./public/icon--linkedin.svg"
                    />

                    <img class="icon-x9" alt="" src="./public/icon--x.svg" />

                    <img
                      class="icon-dribble5"
                      alt=""
                      src="./public/icon--dribble.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="content40">
              <div class="content41">
                <b class="heading14">We’re hiring!</b>
                <div class="text25">
                  Our team is growing fast and we’re always looking for smart
                  people.
                </div>
              </div>
              <div class="button92">
                <div class="button93">View open roles</div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer-44">
        <div class="content42">
          <div class="logo4">
            <img
              class="company-logo-icon12"
              loading="lazy"
              alt=""
              src="./public/company-logo.svg"
            />
          </div>
          <div class="links-wrapper">
            <div class="links4">
              <div class="link-one4">Home</div>
              <div class="link-two4">About</div>
              <div class="link-three4">Explore</div>
              <div class="link-four4">Login</div>
              <div class="link-five4">Register</div>
            </div>
          </div>
          <div class="social-links-wrapper">
            <div class="social-links4">
              <img
                class="icon-facebook4"
                alt=""
                src="./public/icon--facebook.svg"
              />

              <img
                class="icon-instagram4"
                alt=""
                src="./public/icon--instagram.svg"
              />

              <img class="icon-x10" alt="" src="./public/icon--x.svg" />

              <img
                class="icon-linkedin10"
                alt=""
                src="./public/icon--linkedin.svg"
              />

              <img
                class="icon-youtube4"
                alt=""
                src="./public/icon--youtube.svg"
              />
            </div>
          </div>
        </div>
        <div class="credits4">
          <div class="divider4"></div>
          <div class="row-wrapper">
            <div class="row11">
              <div class="relume-all-rights4"></div>
              <div class="footer-links4">
                <div class="privacy-policy4">Privacy Policy</div>
                <div class="terms-of-service4">Terms of Service</div>
                <div class="cookies-settings4">Cookies Settings</div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script>
      var button = document.getElementById("button");
      if (button) {
        button.addEventListener("click", function (e) {
          window.location.href = "../aff/";
        });
      }

      var button2 = document.getElementById("button2");
      if (button2) {
        button2.addEventListener("click", function (e) {
            window.location.href = "{% url 'map_view' %}";
        });
  }

      var button4 = document.getElementById("button4");
      if (button4) {
        button4.addEventListener("click", function (e) {
          window.location.href = "../login/";
        });
      }
      
      var button5 = document.getElementById("button5");
      if (button5) {
        button5.addEventListener("click", function (e) {
          window.location.href = "../signup/";
        });
      }
      </script>
  </body>
</html>
