<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'figma/global.css' %}">
    <link rel="stylesheet" href="{% static 'figma/Explore.css' %}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
  {% include 'heading.html' %}
    <div class="explore">
      <div class="button37">
        <img class="icon-filter" alt="" src="{% static '' %}./public/icon--filter.svg" />

        <div class="button38">Filters</div>
      </div>
      <main class="application-shell-10-parent">
        <section class="application-shell-10">
          <div class="sidebar-4">
            <div class="menu-top">
              <div class="row5">
                <img
                  class="company-logo-icon5"
                  loading="lazy"
                  alt=""
                  src="{% static '' %}./public/company-logo1.svg"
                />
              </div>
            </div>
            <div class="menu-list1">
              <button class="nav-link">
                <div class="content38">
                  <img class="icon-home" alt="" src="{% static '' %}./public/icon--home.svg" />

                  <div class="link25">Home</div>
                </div>
              </button>
              <button class="nav-link1">
                <div class="content39">
                  <img
                    class="icon-star"
                    loading="lazy"
                    alt=""
                    src="{% static '' %}./public/icon--star.svg"
                  />

                  <div class="link26">Favorites</div>
                </div>
                <div class="badge">
                  <div class="link27">0</div>
                </div>
              </button>
              <div class="menu-list2">
                <div class="menu-trigger">
                  <div class="content40">
                    <img
                      class="icon-pie-chart-alt-2"
                      loading="lazy"
                      alt=""
                      src="{% static '' %}./public/icon--piechartalt2.svg"
                    />

                    <div class="link28">Profile</div>
                  </div>
                  <img
                    class="chevron-down-icon1"
                    loading="lazy"
                    alt=""
                    src="{% static '' %}./public/chevron-down.svg"
                  />
                </div>
                <button class="nav-link2">
                  <div class="content41">
                    <img
                      class="icon-trending-up"
                      loading="lazy"
                      alt=""
                      src="{% static '' %}./public/icon--trendingup.svg"
                    />

                    <div class="link29">Reviews</div>
                  </div>
                </button>
                <button class="nav-link3">
                  <div class="content42">
                    <img
                      class="icon-bar-chart-alt-2"
                      loading="lazy"
                      alt=""
                      src="{% static '' %}./public/icon--barchartalt2.svg"
                    />

                    <div class="link30">Locations</div>
                  </div>
                </button>
                <div class="nav-link4">
                  <div class="content43">
                    <img
                      class="icon-archive"
                      alt=""
                      src="{% static '' %}./public/icon--archive.svg"
                    />

                    <div class="link31">Historical</div>
                  </div>
                </div>
              </div>
              <button class="nav-link5">
                <div class="content44">
                  <img
                    class="tooltipiconlayer"
                    loading="lazy"
                    alt=""
                    src="{% static '' %}./public/tooltipiconlayer.svg"
                  />

                  <div class="link32">Resources</div>
                </div>
              </button>
              <div class="nav-link6">
                <div class="content45">
                  <img class="icon-file" alt="" src="{% static '' %}./public/icon--file.svg" />

                  <div class="link33">Documents</div>
                </div>
              </div>
            </div>
            <div class="menu-bottom">
              <div class="menu-list3">
                <button class="nav-link7" autofocus="{true}">
                  <div class="content46">
                    <img
                      class="buttoniconhelp-circle"
                      loading="lazy"
                      alt=""
                      src="{% static '' %}./public/buttoniconhelpcircle.svg"
                    />

                    <div class="link34">About</div>
                  </div>
                </button>
                <button class="nav-link8" autofocus="{true}">
                  <div class="content47">
                    <img
                      class="icon-cog"
                      loading="lazy"
                      alt=""
                      src="{% static '' %}./public/icon--cog.svg"
                    />

                    <div class="link35">Log In</div>
                  </div>
                </button>
              </div>
            </div>
          </div>
          <div class="main-content">
            <header class="topbar-3">
              <div class="container4">
                <div class="text-input9">
                  <img
                    class="icon-search"
                    alt=""
                    src="{% static '' %}./public/icon--search.svg"
                  />

                  <input
                    class="type-your-message"
                    placeholder="Search"
                    type="text"
                  />
                </div>
                <div class="column9">
                  <div class="nav-link9">
                    <img
                      class="icon-bell"
                      loading="lazy"
                      alt=""
                      src="{% static '' %}./public/icon--bell.svg"
                    />
                  </div>
                  <div class="profile">
                    <img
                      class="avatar-image-icon"
                      alt=""
                      src="{% static '' %}./public/avatar-image@2x.png"
                    />

                    <div class="user-name">Name Surname</div>
                    <img
                      class="chevron-down-icon2"
                      alt=""
                      src="{% static '' %}./public/chevron-down-1.svg"
                    />
                  </div>
                </div>
              </div>
            </header>
            <div class="header1">
              <div class="text11">Click and paste Page Header</div>
            </div>
            <div class="content48">
              <code class="column10">
                <div class="click-and-paste">
                    {% url 'map_view' %}
                </div>
              </code>
              <div class="column11">
                <div class="click-and-paste1">
                  Click and paste Secondary Content
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="modal">
          <div class="distance-slider-container">
            <h3 class="heading9">Filters</h3>
          </div>
          <div class="modal-body">
            <div class="row-parent">
              <div class="row6">
                <div class="cuisine">Cuisine</div>
                <div class="clear-filter">
                  <div class="clear">Clear</div>
                </div>
              </div>
              <div class="checkbox-pair">
                <div class="checkbox">
                  <input class="checkbox-container" type="checkbox" />

                  <div class="label">American</div>
                </div>
              </div>
              <div class="checkbox-pair1">
                <div class="checkbox1">
                  <input class="frame-input" type="checkbox" />

                  <div class="label1">Chinese</div>
                </div>
              </div>
              <div class="distance-inner-container">
                <div class="checkbox2">
                  <input class="checkbox-containers" type="checkbox" />

                  <div class="label2">Cuban</div>
                </div>
                <div class="checkbox3">
                  <input class="frame-input1" type="checkbox" />

                  <div class="label3">Japanese</div>
                </div>
                <div class="checkbox4">
                  <input class="frame-input2" type="checkbox" />

                  <div class="label4">Korean</div>
                </div>
                <div class="checkbox5">
                  <input class="frame-input3" type="checkbox" />

                  <div class="label5">Mediterranean</div>
                </div>
                <div class="checkbox6">
                  <input class="frame-input4" type="checkbox" />

                  <div class="label6">Mexican</div>
                </div>
                <div class="checkbox7">
                  <input class="frame-input5" type="checkbox" />

                  <div class="label7">Vietnamese</div>
                </div>
              </div>
            </div>
          </div>
          <div class="filter-three-wrapper">
            <div class="filter-three">
              <div class="row7">
                <div class="rating">Rating</div>
                <div class="clear1">Clear</div>
              </div>
              <div class="option-wrapper">
                <div class="checkbox-3">
                  <div class="button39">5.0</div>
                </div>
                <div class="checkbox-4">
                  <div class="button40">4.0</div>
                </div>
                <div class="checkbox-5">
                  <div class="button41">3.0</div>
                </div>
                <div class="checkbox-6">
                  <div class="button42">2.0</div>
                </div>
                <div class="checkbox-7">
                  <div class="button43">1.0</div>
                </div>
              </div>
            </div>
          </div>
          <div class="filter-three-container">
            <div class="modal-inner-content">
              <div class="row8">
                <div class="distance-km">Distance (km)</div>
                <div class="clear-distance">
                  <div class="clear2">Clear</div>
                </div>
              </div>
              <div class="slider-container">
                <div class="slider">
                  <div class="slider-components">
                    <div class="progress-bar"></div>
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="distance-container">
            <div class="div8">0</div>
          </div>
          <div class="modal-footer">
            <div class="cancel-button-container">
              <div class="button44">
                <div class="button45">Clear all</div>
              </div>
            </div>
            <button class="button46">
              <div class="button47">Apply</div>
            </button>
          </div>
        </div>
      </main>
    </div>
  {% include 'footer.html' %}
  </body>
</html>
