<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'figma/global.css' %}">
    <link rel="stylesheet" href="{% static 'figma/Favorites.css' %}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap"
    />
  </head>
  <script>
      let data = JSON.parse("{{data|escapejs}}");
      let y = 0;
      let temp1;
      let temp2;
      for (let x in data) {
          if (y == 0) {
              temp1 = data[x];
              y = y + 1;
          } else {
              temp2 = data[x];
          }
      }

  </script>
  <body>
  {% include 'heading.html' %}
    <div class="favorites">
      <main class="table-1">
        <form class="table">
          <div class="card-header-1"></div>
            <div class="column8">
              <h3 class="heading-goes-here">Favorites</h3>
                <ul id="favoritesPrint">
                  <text>This is he list</text>
              </ul>
              <div class="lorem-ipsum-dolor6">Find your saved favorites</div>
            </div>
            <div class="row4">
              <div class="actions4">
                <button class="button28">
                  <div class="button29">Add</div>
                </button>
                <button class="button30">
                  <div class="button31">Remove</div>
                </button>
              </div>
              <div class="button32">
                <img
                  class="icon-dots-horizontal-rounded"
                  loading="lazy"
                  alt=""
                  src="{% static '' %}./public/icon--dotshorizontalrounded.svg"
                />
              </div>
            </div>
          </div>
          <div class="table-container">
            <div class="table-column">
              <div class="table-header">
                <div class="name9">Name</div>
              </div>
              <div class="table-cell">
                <div class="full-name">Full name</div>
              </div>
              <div class="table-cell1">
                <div class="full-name1">Full name</div>
              </div>
              <div class="table-cell2">
                <div class="full-name2">Full name</div>
              </div>
              <div class="table-cell3">
                <div class="full-name3">Full name</div>
              </div>
              <div class="table-cell4">
                <div class="full-name4">Full name</div>
              </div>
              <div class="table-cell5">
                <div class="full-name5">Full name</div>
              </div>
            </div>
            <div class="table-column1">
              <div class="table-header1">
                <div class="company">Location</div>
              </div>
              <div class="table-cell6">
                <div class="company-name">Company name</div>
              </div>
              <div class="table-cell7">
                <div class="company-name1">Company name</div>
              </div>
              <div class="table-cell8">
                <div class="company-name2">Company name</div>
              </div>
              <div class="table-cell9">
                <div class="company-name3">Company name</div>
              </div>
              <div class="table-cell10">
                <div class="company-name4">Company name</div>
              </div>
              <div class="table-cell11">
                <div class="company-name5">Company name</div>
              </div>
            </div>
            <div class="table-column2">
              <div class="table-header2">
                <div class="number">Rating</div>
              </div>
              <div class="table-cell12">
                <div class="div">14</div>
              </div>
              <div class="table-cell13">
                <div class="div1">14</div>
              </div>
              <div class="table-cell14">
                <div class="div2">14</div>
              </div>
              <div class="table-cell15">
                <div class="div3">14</div>
              </div>
              <div class="table-cell16">
                <div class="div4">14</div>
              </div>
              <div class="table-cell17">
                <div class="div5">14</div>
              </div>
            </div>
            <div class="table-column3">
              <div class="table-header3">
                <div class="team">Cuisine</div>
              </div>
              <div class="table-cell18">
                <div class="team-name">Team name</div>
              </div>
              <div class="table-cell19">
                <div class="team-name1">Team name</div>
              </div>
              <div class="table-cell20">
                <div class="team-name2">Team name</div>
              </div>
              <div class="table-cell21">
                <div class="team-name3">Team name</div>
              </div>
              <div class="table-cell22">
                <div class="team-name4">Team name</div>
              </div>
              <div class="table-cell23">
                <div class="team-name5">Team name</div>
              </div>
            </div>
            <div class="table-column4">
              <label class="table-header4">
                <div class="date">Date</div>
                <img
                  class="ico-24-arrows-arrow-down"
                  alt=""
                  src="{% static '' %}./public/ico--24--arrows--arrow-downward.svg"
                />
              </label>
              <div class="table-cell24">
                <div class="jan-11-2050">Jan 11, 2050</div>
              </div>
              <div class="table-cell25">
                <div class="jan-11-20501">Jan 11, 2050</div>
              </div>
              <div class="table-cell26">
                <div class="jan-11-20502">Jan 11, 2050</div>
              </div>
              <div class="table-cell27">
                <div class="jan-11-20503">Jan 11, 2050</div>
              </div>
              <div class="table-cell28">
                <div class="jan-11-20504">Jan 11, 2050</div>
              </div>
              <div class="table-cell29">
                <div class="jan-11-20505">Jan 11, 2050</div>
              </div>
            </div>
            <div class="table-column5">
              <div class="table-header5"></div>
              <div class="table-cell30">
                <div class="view">View</div>
              </div>
              <div class="table-cell31">
                <div class="view1">View</div>
              </div>
              <div class="table-cell32">
                <div class="view2">View</div>
              </div>
              <div class="table-cell33">
                <div class="view3">View</div>
              </div>
              <div class="table-cell34">
                <div class="view4">View</div>
              </div>
              <div class="table-cell35">
                <div class="view5">View</div>
              </div>
            </div>
          </div>
          <footer class="table-pagination">
            <div class="page-buttons">
              <button class="button33">
                <img
                  class="icon-chevron-left"
                  alt=""
                  src="{% static '' %}./public/icon--chevronleft.svg"
                />

                <div class="button34">Prev</div>
              </button>
              <div class="pagination-numbers">
                <div class="content34">
                  <div class="separators">1</div>
                </div>
                <div class="pagination-number">
                  <div class="content35">
                    <div class="empty">2</div>
                  </div>
                </div>
                <div class="pagination-number1">
                  <div class="content36">
                    <div class="div6">3</div>
                  </div>
                </div>
                <div class="pagination-number2">
                  <div class="content37">
                    <div class="div7">4</div>
                  </div>
                </div>
              </div>
              <button class="button35">
                <div class="button36">Next</div>
                <img
                  class="icon-chevron-right1"
                  alt=""
                  src="{% static '' %}./public/icon--chevronright.svg"
                />
              </button>
            </div>
          </footer>
        </form>
      </main>
    </div>
  {% include 'footer.html' %}
  </body>
</html>
