<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'figma/global.css' %}">
    <link rel="stylesheet" href="{% static 'figma/filterBar.css' %}">
      <script type="module" src="{% static '/aff/index.js' %}"></script>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap"
    />

  </head>
  <body>
    <div class="fiiller">
      <div class="main">
        <div class="topbar-32">
          <div class="container7">
            <div class="text-input12">
              <img
                class="icon-search3"
                alt=""
                src="{% static '' %}./public/icon--search.svg"
              />

              <input
                class="type-your-message3"
                placeholder="Search"
                type="text"
              />
            </div>
            <div class="column20">
              <div class="nav-link20">
                <img
                  class="icon-bell2"
                  loading="lazy"
                  alt=""
                  src="{% static '' %}./public/icon--bell.svg"
                />
              </div>
              <div class="profile3">
                <img
                  class="avatar-image-icon3"
                  alt=""
                  src="{% static '' %}./public/avatar-image@2x.png"
                />


                  {% if user.is_authenticated %}
                      <div class="text">{{ user.username }}</div>
                  {% else %}
                      <div class="text">username</div>
                  {% endif %}
                <img
                  class="chevron-down-icon5"
                  alt=""
                  src="{% static '' %}./public/chevron-down-1.svg"
                />
              </div>
            </div>
          </div>
        </div>
        <button class="button94" id="button">
          <img class="icon-filter2" alt="" src="{% static '' %}./public/icon--filter.svg" />

          <div class="button95">Filters</div>
        </button>
      </div>
    </div>

    <div id="sidefilterPopup" class="popup-overlay" style="display: none">
      <div class="sidefilter">
        <h3 class="heading25">Filters</h3>
        <section class="content87">
          <div class="modal-footer3">
            <div class="primary-buttons">
              <div class="button96">
                <div class="button97">Clear all</div>
              </div>
            </div>
            <button class="button98">
              <div class="button99">Apply</div>
            </button>
          </div>
          <div class="filters3">
            <div class="filter-one-container">
              <div class="row22">
                <div class="filter-one3">Cuisines</div>
                <div class="clear-button">
                  <div class="clear9">Clear</div>
                </div>
              </div>
              <div class="checkbox-filters">
                <div class="checkbox-options-wrapper">
                  <div class="checkbox-options">
                    <div class="checkbox24">
                      <input class="checkbox-icons" type="checkbox" onclick="choiceCuisine('American')" />

                      <div class="label24">American</div>
                    </div>
                    <div class="checkbox25">
                      <input class="frame-input22" type="checkbox" onclick="choiceCuisine('Vietnamese')"/>

                      <div class="label25">Chinese</div>
                    </div>
                    <div class="checkbox26">
                      <input class="frame-input23" type="checkbox" onclick="choiceCuisine('Cuban')"/>

                      <div class="label26">Cuban</div>
                    </div>
                    <div class="checkbox27">
                      <input class="frame-input24" type="checkbox" onclick="choiceCuisine('Japanese')"/>

                      <div class="label27">Japanese</div>
                    </div>
                  </div>
                </div>
                <div class="checkbox-group">
                  <div class="checkbox28">
                    <input class="checkbox-icons1" type="checkbox" onclick="choiceCuisine('Korean')"/>

                    <div class="label28">Korean</div>
                  </div>
                  <div class="checkbox29">
                    <input class="frame-input25" type="checkbox" onclick="choiceCuisine('Mediterranean')"/>

                    <div class="label29">Mediterranean</div>
                  </div>
                  <div class="checkbox30">
                    <input class="frame-input26" type="checkbox" onclick="choiceCuisine('Mexican')"/>

                    <div class="label30">Mexican</div>
                  </div>
                  <div class="checkbox31">
                    <input class="frame-input27" type="checkbox" onclick="choiceCuisine('Vietnamese')"/>

                    <div class="label31">Vietnamese</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="filter-three-container1">
              <div class="filter-three5">
                <div class="row23">
                  <div class="filter-three6">Ratings</div>
                  <div class="clear10">Clear</div>
                </div>
                <div class="option-wrapper3">
                  <button class="checkbox-35">
                      <input type="text" id="restaurantStar" ondblclick="getRestaurantRating()" value=5.0 placeholder="5.0" readonly>
                  </button>
                  <button class="checkbox-36">
                      <input type="text" id="restaurantStar" ondblclick="getRestaurantRating()" value=4.0 placeholder="4.0" readonly>
                  </button>
                  <button class="checkbox-43">
                      <input type="text" id="restaurantStar" ondblclick="getRestaurantRating()" value=3.0 placeholder="3.0" readonly>
                  </button>
                  <button class="checkbox-53">
                    <input type="text" id="restaurantStar" ondblclick="getRestaurantRating()" value=2.0 placeholder="2.0" readonly>
                  </button>
                  <button class="checkbox-63">
{#                    <div class="button104" id="1 star button" onclick="getRestaurantRating(1.0)">1.0</div>#}
                    <input type="text" id="restaurantStar" ondblclick="getRestaurantRating()" value=1.0 placeholder="1.0" readonly>

                  </button>
                </div>
              </div>
            </div>
            <div class="filter-six-container">
              <div class="filter-six-controls">
                <div class="row24">
                  <div class="filter-six3">Distance</div>
                  <div class="clear-button1">
                    <div class="clear11">Clear</div>
                  </div>
                </div>
                <div class="slider-control">
                  <div class="slider3">
                    <div class="slider-track">
                      <div class="progress-bar3"></div>
                      <div class="circle3"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="empty-container">
                <input class="input9" id="restaurantRadius" onkeyup="getRestaurantRadius()" placeholder="0" type="text" />
              </div>
            </div>
            <div class="filters-child"></div>
          </div>
        </section>
      </div>
    </div>

    <script>
      let button = document.getElementById("button");
      if(button) {
        button.addEventListener("click", function () {
          let popup = document.getElementById("sidefilterPopup");
          if(!popup) return;
          let popupStyle = popup.style;
          if(popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
           popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");

          let onClick = popup.onClick || function(e) {
            if(e.target === popup && popup.hasAttribute("closable")) {
              popupStyle.display = "none";
            }
          };
          popup.addEventListener("click", onClick);
        });
      }
    </script>
  </body>
</html>
