<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'figma/global.css' %}">
    <link rel="stylesheet" href="{% static 'figma/Heading.css' %}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="heading22">
      <section class="navbar-91">
        <div class="content72">
          <div class="content73">
            <img
              class="company-logo-icon7"
              loading="lazy"
              alt=""
              src="{% static '' %}./public/company-logo.svg"
            />

            <div class="column14">
              <button class="link-one3" id="link1">
                <div class="link41">Home</div>
              </button>
              <button class="link-two3" id="link2">
                <div class="link42">About</div>
              </button>
              <button class="link-three3" id="link3">
                <div class="link43">Explore</div>
              </button>
            </div>
            <button class="link-three4" id="link4">
              <div class="link44">Favorites</div>
            </button>
            <button class="link-three5" id="link5">
              <div class="link45">Ratings</div>
            </button>
          </div>
          <div class="actions9">
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="button70" id="button100">
                        <div class="button71">Logout</div>
                    </button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="button70" id="button100">
                    <div class="button71">Login</div>
                </a>
            {% endif %}
            <button class="button72" id="button400">
              <div class="button73">Register</div>
            </button>
          </div>
        </div>
        <div class="mega-menu1">
          <div class="content74">
            <div class="content75">
              <div class="looking-for-a1">Ready to Explore?</div>
              <button class="get-in-touch" id="getInTouch">Click Here</button>
            </div>
          </div>
        </div>
      </section>
    </div>

    <script>
      var link1 = document.getElementById("link1");
      if(link1) {
        link1.addEventListener("click", function (e) {
          window.location.href = "../aff"
        });
      }

      var link2 = document.getElementById("link2");
      if(link2) {
        link2.addEventListener("click", function (e) {
          window.location.href = "../about"
        });
      }

      var link3 = document.getElementById("link3");
      if(link3) {
        link3.addEventListener("click", function (e) {
          window.location.href = "{% url 'map_view'%}"
        });
      }

      var link4 = document.getElementById("link4");
      if(link4) {
        link4.addEventListener("click", function (e) {
          window.location.href = "../favorites"
        });
      }

      var link5 = document.getElementById("link5");
      if(link5) {
        link5.addEventListener("click", function () {
          window.open("https://www.yelp.com/writeareview");
        });
      }

      var button100 = document.getElementById("button100");
      if(button100) {
        button100.addEventListener("click", function (e) {
          window.location.href = "../login"
        });
      }

      var button400 = document.getElementById("button400");
      if(button400) {
        button400.addEventListener("click", function (e) {
          window.location.href = "../signup"
        });
      }

      var menuItem = document.getElementById("menuItem");
      if(menuItem) {
        menuItem.addEventListener("click", function (e) {
          window.location.href = "./Builder.html"
        });
      }

      var menuItem1 = document.getElementById("menuItem1");
      if(menuItem1) {
        menuItem1.addEventListener("click", function (e) {
          window.location.href = "./Builder.html"
        });
      }

      var menuItem2 = document.getElementById("menuItem2");
      if(menuItem2) {
        menuItem2.addEventListener("click", function (e) {
          window.location.href = "./Builder.html"
        });
      }

      var menuItem3 = document.getElementById("menuItem3");
      if(menuItem3) {
        menuItem3.addEventListener("click", function (e) {
          window.location.href = "./Builder.html"
        });
      }

      var getInTouch = document.getElementById("getInTouch");
      if(getInTouch) {
        getInTouch.addEventListener("click", function (e) {
          window.location.href = "../explore"
        });
      }
    </script>
  </body>
</html>