<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'figma/global.css' %}">
    <link rel="stylesheet" href="{% static 'figma/Heading.css' %}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
    <main class="header">
      <section class="navbar-9">
        <section class="content1">
          <div class="content2">
            <img
              class="company-logo-icon1"
              loading="lazy"
              alt=""
              src="{% static 'public/company-logo.svg' %}"
            />

            <div class="column3">
              <button class="link-one1" id="linkOne">
                <div class="link15">Home</div>
              </button>
              <button class="link-two1" id="linkTwo">
                <div class="link16">About</div>
              </button>
              <button class="link-three1" id="linkThree">
                <div class="link17">Explore</div>
              </button>
              <div class="link-four1">
                <button class="nav-link-dropdown">
                  <div class="link18">Profile</div>
                  <img
                    class="chevron-down-icon"
                    alt=""
                    src="{% static 'public/chevron-down.svg' %}"
                  />
                </button>
              </div>
            </div>
          </div>
          <div class="actions1">
            <button class="button2" id="button100">
              <div class="button3">Log In</div>
            </button>
            <button class="button4" id="button200">
              <div class="button5">Register</div>
            </button>
          </div>
        </section>
        <section class="mega-menu">
          <div class="menu">
            <div class="menu-list">
              <button class="menu-item" id="menuItem">
                <img
                  class="icon-relume"
                  loading="lazy"
                  alt=""
                  src="{% static 'public/icon--relume.svg' %}"
                />

                <div class="content3">
                  <div class="page-one">Log In</div>
                  <div class="lorem-ipsum-dolor">Log in to your profile.</div>
                </div>
              </button>
              <button class="menu-item1" id="menuItem1">
                <img
                  class="icon-relume1"
                  loading="lazy"
                  alt=""
                  src="{% static 'public/icon--relume.svg' %}"
                />

                <div class="content4">
                  <div class="page-two">Favorites</div>
                  <div class="lorem-ipsum-dolor1">
                    See your saved restaurants.
                  </div>
                </div>
              </button>
              <button class="menu-item2" id="menuItem2">
                <img
                  class="icon-relume2"
                  loading="lazy"
                  alt=""
                  src="{% static 'public/icon--relume.svg' %}"
                />

                <div class="content5">
                  <div class="page-three">Review</div>
                  <div class="lorem-ipsum-dolor2">
                    Rate restaurants you’ve visited.
                  </div>
                </div>
              </button>
              <button class="menu-item3" id="menuItem3">
                <img
                  class="icon-relume3"
                  loading="lazy"
                  alt=""
                  src="{% static 'public/icon--relume.svg' %}"
                />

                <div class="content6">
                  <div class="page-four">Forgot Password</div>
                  <div class="lorem-ipsum-dolor3">
                    Reset your password here!
                  </div>
                </div>
              </button>
            </div>
          </div>
          <div class="content7">
            <div class="content8">
              <div class="looking-for-a">Want to start exploring?</div>
              <button class="get-in-touch" id="getInTouch">Click Here</button>
            </div>
          </div>
        </section>
      </section>
    </main>

    <script>
      var linkOne = document.getElementById("linkOne");
      if(linkOne) {
        linkOne.addEventListener("click", function (e) {
          window.location.href = "../aff"
        });
      }

      var linkTwo = document.getElementById("linkTwo");
      if(linkTwo) {
        linkTwo.addEventListener("click", function (e) {
          window.location.href = "../about"
        });
      }

      var linkThree = document.getElementById("linkThree");
      if(linkThree) {
        linkThree.addEventListener("click", function (e) {
          window.location.href = "../explore"
        });
      }

      var button100 = document.getElementById("button100");
      if(button100) {
        button100.addEventListener("click", function (e) {
          window.location.href = "../login"
        });
      }

      var button200 = document.getElementById("button200");
      if(button200) {
        button200.addEventListener("click", function (e) {
          window.location.href = "../signup"
        });
      }

      var menuItem = document.getElementById("menuItem");
      if(menuItem) {
        menuItem.addEventListener("click", function (e) {
          window.location.href = "../login"
        });
      }

      var menuItem1 = document.getElementById("menuItem1");
      if(menuItem1) {
        menuItem1.addEventListener("click", function (e) {
          window.location.href = "../favorites"
        });
      }

      var menuItem2 = document.getElementById("menuItem2");
      if(menuItem2) {
        menuItem2.addEventListener("click", function () {
          window.open("https://www.yelp.com/writeareview");
        });
      }

      var menuItem3 = document.getElementById("menuItem3");
      if(menuItem3) {
        menuItem3.addEventListener("click", function (e) {
          window.location.href = "../reset"
        });
      }

      var getInTouch = document.getElementById("getInTouch");
      if(getInTouch) {
        getInTouch.addEventListener("click", function (e) {
          window.location.href = "../explore"
        });
      }
    </script>
  </body>
</html>
