<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'figma/global.css' %}">
    <link rel="stylesheet" href="{% static 'figma/home.css' %}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap"
    />
  </head>
  <body>
    <div class="home">
      <header class="content">
        <div class="column">
          <img
            class="company-logo-icon"
            loading="lazy"
            alt=""
            src="{% static 'public/company-logo.svg' %}"
          />
        </div>
        <div class="column1">
          <div class="actions">
            <button class="button">
              <div class="button1">Home</div>
            </button>
            <button class="button2" id="button1">
              <div class="button3">About</div>
            </button>
            <button class="button4" id="button2">
              <div class="button5">Explore</div>
            </button>
            <button class="button6">
              <div class="button7">Extras</div>
            </button>
            <button class="button8" id="button4">
              <div class="button9">Login</div>
            </button>
            <button class="button10" id="button5">
              <div class="button11">Register</div>
            </button>
          </div>
        </div>
      </header>
      <section class="header-5">
        <div class="column2">
          <div class="content1">
            <h1 class="medium-length-hero">ATL | FoodQuest</h1>
            <div class="lorem-ipsum-dolor">
              Finding the perfect dining spot in Atlanta can be a challenge. Our
              innovative restaurant finder simplifies the search, offering
              recommendations based on your tastes and locations. Whether you're
              craving comfort food or international cuisine, discover the best
              eateries with ease. 
            </div>
          </div>
          <div class="actions1">
            <button class="button12" id="button6">
              <div class="button13">Login</div>
            </button>
            <button class="button14" id="button7">
              <div class="button15">About</div>
            </button>
          </div>
        </div>
      </section>
      <section class="layout-276">
        <div class="section-title">
          <div class="subheading">Tagline</div>
          <div class="content2">
            <h1 class="heading">
              We're simplifying the search for someplace to eat
            </h1>
            <div class="text">
              We Provide the Ability to Find, Filter, and Favorite Restaurants
              You Liked. 
            </div>
          </div>
        </div>
        <div class="content3">
          <div class="row">
            <div class="column3">
              <img
                class="icon-relume"
                loading="lazy"
                alt=""
                src="{% static 'public/icon--relume.svg' %}"
              />

              <div class="content4">
                <h1 class="heading1">Find</h1>
                <div class="text1">
                  Gain access to the map and see the full scope of restaurants
                  in the greater Atlanta area. See quick pins, ratings,
                  locations and reviews.
                </div>
              </div>
            </div>
            <div class="column4">
              <img
                class="icon-relume1"
                loading="lazy"
                alt=""
                src="{% static 'public/icon--relume.svg' %}"
              />

              <div class="content5">
                <h1 class="heading2">Filter</h1>
                <div class="text2">
                  Searching for something a bit more specific? Filter your
                  results by selecting specific cuisines, ratings, and reviews.
                  Search for specific restaurants as well!
                </div>
              </div>
            </div>
            <div class="column5">
              <img
                class="icon-relume2"
                loading="lazy"
                alt=""
                src="{% static 'public/icon--relume.svg' %}"
              />

              <div class="content6">
                <h1 class="heading3">Favorite</h1>
                <div class="text3">
                  Found something that you like? Add it to your favorites page
                  so you can get access to it even faster than before.
                </div>
              </div>
            </div>
          </div>
          <div class="actions2">
            <button class="button16">
              <div class="button17">Explore</div>
            </button>
            <div class="button18">
              <div class="button19">Button</div>
              <img
                class="icon-chevron-right"
                loading="lazy"
                alt=""
                src="{% static 'public/icon--chevronright.svg' %}"
              />
            </div>
          </div>
        </div>
      </section>
      <section class="stats-57">
        <div class="section-title1">
          <div class="tagline">Features</div>
          <div class="content7">
            <h1 class="heading4">Gain Access To:</h1>
            <div class="text4"></div>
          </div>
        </div>
        <div class="content8">
          <img
            class="placeholder-image-icon"
            loading="lazy"
            alt=""
            src="{% static 'public/placeholder-image@2x.png' %}"
          />

          <div class="stats">
            <div class="stat">
              <b class="stat-value">4,500+</b>
              <b class="stat-label">Restaurants in ATL</b>
            </div>
            <div class="stat1">
              <b class="text5">100,000</b>
              <b class="text6">Reviews</b>
            </div>
            <div class="stat2">
              <h1 class="text7">Unlimited</h1>
              <b class="text8">Possibilities</b>
            </div>
          </div>
        </div>
      </section>
      <section class="footer-4">
        <div class="content9">
          <div class="logo">
            <img
              class="company-logo-icon1"
              loading="lazy"
              alt=""
              src="{% static 'public/company-logo.svg' %}"
            />
          </div>
          <div class="links-container">
            <div class="links">
              <div class="link-one">Home</div>
              <div class="link-two">About</div>
              <div class="link-three">Explore</div>
              <div class="link-four">Login</div>
              <div class="link-five">Register</div>
            </div>
          </div>
          <div class="social-container">
            <div class="social-links">
              <img
                class="icon-facebook"
                loading="lazy"
                alt=""
                src="{% static 'public/icon--facebook.svg' %}"
              />

              <img
                class="icon-instagram"
                loading="lazy"
                alt=""
                src="{% static 'public/icon--instagram.svg' %}"
              />

              <img
                class="icon-x"
                loading="lazy"
                alt=""
                src="{% static 'public/icon--x.svg' %}"
              />

              <img
                class="icon-linkedin"
                loading="lazy"
                alt=""
                src="{% static 'public/icon--linkedin.svg' %}"
              />

              <img
                class="icon-youtube"
                loading="lazy"
                alt=""
                src="{% static 'public/icon--youtube.svg' %}"
              />
            </div>
          </div>
        </div>
        <footer class="credits">
          <div class="divider"></div>
          <div class="copyright-container">
            <div class="row1">
              <div class="relume-all-rights"></div>
              <div class="footer-links">
                <div class="privacy-policy">Privacy Policy</div>
                <div class="terms-of-service">Terms of Service</div>
                <div class="cookies-settings">Cookies Settings</div>
              </div>
            </div>
          </div>
        </footer>
      </section>
    </div>

    <script>
      var button1 = document.getElementById("button1");
      if (button1) {
        button1.addEventListener("click", function (e) {
          window.location.href = "../about/";
        });
      }

      var button2 = document.getElementById("button2");
      if (button2) {
        button2.addEventListener("click", function (e) {
            window.location.href = "{% url 'map_view' %}";
        });
  }
      
      var button4 = document.getElementById("button4");
      if (button4) {
        button4.addEventListener("click", function (e) {
          window.location.href = "../login/";
        });
      }
      
      var button5 = document.getElementById("button5");
      if (button5) {
        button5.addEventListener("click", function (e) {
          window.location.href = "../signup/";
        });
      }
      
      var button6 = document.getElementById("button6");
      if (button6) {
        button6.addEventListener("click", function (e) {
          window.location.href = "../login/";
        });
      }
      
      var button7 = document.getElementById("button7");
      if (button7) {
        button7.addEventListener("click", function (e) {
          window.location.href = "../about/";
        });
      }
      </script>
  </body>
</html>
