<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'figma/global.css' %}">
    <link rel="stylesheet" href="{% static 'figma/Home.css' %}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
  {% include 'heading.html' %}
    <div class="home">
      <section class="header-5">
        <div class="column12">
          <div class="content49">
            <h1 class="medium-length-hero1">ATL | FoodQuest</h1>
            <div class="lorem-ipsum-dolor7">
              Finding the perfect dining spot in Atlanta can be a challenge. Our
              innovative restaurant finder simplifies the search, offering
              recommendations based on your tastes and locations. Whether you're
              craving comfort food or international cuisine, discover the best
              eateries with ease. 
            </div>
          </div>
          <div class="actions5">
            <button class="button48" id="button">
              <div class="button49">Explore</div>
            </button>
            <div class="button50">
              <div class="button51">Button</div>
            </div>
          </div>
        </div>
      </section>
      <section class="logo-1">
        <b class="heading10">Made Possible With:</b>
        <div class="content50">
          <div class="row9">
            <img
              class="logos-icon"
              loading="lazy"
              alt=""
              src="{% static '' %}./public/yelp-logo-1@2x.png"
            />

            <img
              class="logos-icon1"
              loading="lazy"
              alt=""
              src="{% static '' %}./public/logos-1.svg"
            />

            <img
              class="logos-icon2"
              loading="lazy"
              alt=""
              src="{% static '' %}./public/figma5-1.svg"
            />

            <img
              class="logos-icon3"
              loading="lazy"
              alt=""
              src="{% static '' %}./public/githublogo-1@2x.png"
            />

            <img
              class="logos-icon4"
              loading="lazy"
              alt=""
              src="{% static '' %}./public/pycharm-logo-1@2x.png"
            />

            <img
              class="logos-icon5"
              loading="lazy"
              alt=""
              src="{% static '' %}./public/google.png"
            />
          </div>
          <div class="row10">
            <img class="logos-icon6" alt="" src="{% static '' %}./public/logos.svg" />

            <img class="logos-icon7" alt="" src="{% static '' %}./public/logos-1.svg" />

            <img class="logos-icon8" alt="" src="{% static '' %}./public/logos-2.svg" />

            <img class="logos-icon9" alt="" src="{% static '' %}./public/logos-5.svg" />

            <img class="logos-icon10" alt="" src="{% static '' %}./public/logos-10.svg" />
          </div>
        </div>
      </section>
      <section class="layout-16">
        <div class="container5">
          <div class="content51">
            <div class="content52">
              <div class="section-title6">
                <div class="subheading3">About</div>
                <div class="content53">
                  <h1 class="heading11">Find restaurants in Atlanta, quick.</h1>
                  <div class="text12">
                    With a broad filter and search capability, find a restaurant
                    that fits your mood perfectly.
                  </div>
                </div>
              </div>
              <div class="list">
                <div class="list-item">
                  <img
                    class="icon-relume4"
                    alt=""
                    src="{% static '' %}./public/icon--relume1.svg"
                  />

                  <div class="lorem-ipsum-dolor8">
                    Search for specific restaurants by name
                  </div>
                </div>
                <div class="list-item1">
                  <img
                    class="icon-relume5"
                    loading="lazy"
                    alt=""
                    src="{% static '' %}./public/icon--relume1.svg"
                  />

                  <div class="lorem-ipsum-dolor9">
                    Filter down your results by cuisine
                  </div>
                </div>
                <div class="list-item2">
                  <img
                    class="icon-relume6"
                    loading="lazy"
                    alt=""
                    src="{% static '' %}./public/icon--relume1.svg"
                  />

                  <div class="lorem-ipsum-dolor10">
                    Add restaurants to your favorites list for expedited search.
                  </div>
                </div>
              </div>
            </div>
            <div class="actions6">
              <button class="button52" id="button1">
                <div class="button53">Register</div>
              </button>
              <div class="button54">
                <div class="button55">Button</div>
                <img
                  class="icon-chevron-right2"
                  alt=""
                  src="{% static '' %}./public/icon--chevronright.svg"
                />
              </div>
            </div>
          </div>
          <img
            class="placeholder-image-icon11"
            loading="lazy"
            alt=""
            src="{% static '' %}./public/placeholder-image3@2x.png"
          />
        </div>
      </section>
      <section class="layout-253">
        <div class="content54">
          <div class="section-title7">
            <div class="subheading-parent">
              <div class="subheading4">Services</div>
              <div class="content55">
                <h1 class="heading12">
                  We’re simplifying the search for someplace to eat.
                </h1>
                <div class="text13">
                  Tired of scrolling through endless pages of recommendations?
                  Skip that with FoodQuest’s find, filter, and favorite
                  capabilities.
                </div>
              </div>
            </div>
            <div class="actions7">
              <button class="button56" id="button2">
                <div class="button57">Login</div>
              </button>
              <div class="button58">
                <div class="button59">Button</div>
                <img
                  class="icon-chevron-right3"
                  alt=""
                  src="{% static '' %}./public/icon--chevronright.svg"
                />
              </div>
            </div>
          </div>
          <div class="content56">
            <div class="list1">
              <div class="list-item3">
                <img
                  class="icon-relume7"
                  loading="lazy"
                  alt=""
                  src="{% static '' %}./public/icon--relume-3.svg"
                />

                <h3 class="heading13">Find</h3>
                <div class="text14">
                  Gain access to the map and see the full scope of restaurants
                  in the greater Atlanta area. See quick pins, ratings,
                  locations and reviews.
                </div>
                <div class="button60">
                  <div class="button61" id="buttonFind">Learn more</div>
                  <img
                    class="icon-chevron-right4"
                    loading="lazy"
                    alt=""
                    src="{% static '' %}./public/icon--chevronright.svg"
                  />
                </div>
              </div>
              <div class="list-item4">
                <img
                  class="icon-relume8"
                  loading="lazy"
                  alt=""
                  src="{% static '' %}./public/icon--relume-3.svg"
                />

                <h3 class="heading14">Filter</h3>
                <div class="text15">
                  Searching for something a bit more specific? Filter your
                  results by selecting specific cuisines, ratings, and reviews.
                  Search for specific restaurants as well!
                </div>
                <div class="button62">
                  <div class="button63" id="buttonFilter">Learn more</div>
                  <img
                    class="icon-chevron-right5"
                    loading="lazy"
                    alt=""
                    src="{% static '' %}./public/icon--chevronright.svg"
                  />
                </div>
              </div>
            </div>
            <div class="list2">
              <div class="list-item5">
                <img
                  class="icon-relume9"
                  loading="lazy"
                  alt=""
                  src="{% static '' %}./public/icon--relume-3.svg"
                />

                <h3 class="heading15">Favorite</h3>
                <div class="text16">
                  Found something that you like? Add it to your favorites page
                  so you can get access to it even faster than before.
                </div>
                <div class="button64">
                  <div class="button65" id="buttonFavorite">Learn more</div>
                  <img
                    class="icon-chevron-right6"
                    loading="lazy"
                    alt=""
                    src="{% static '' %}./public/icon--chevronright.svg"
                  />
                </div>
              </div>
              <div class="list-item6">
                <img
                  class="icon-relume10"
                  loading="lazy"
                  alt=""
                  src="{% static '' %}./public/icon--relume-3.svg"
                />

                <h3 class="heading16">Review</h3>
                <div class="text17">
                  If you liked a restaurant, leave a review! See and read
                  reviews left by other users as well.
                </div>
                <div class="button66">
                  <div class="button67" id="buttonReview">Learn more</div>
                  <img
                    class="icon-chevron-right7"
                    loading="lazy"
                    alt=""
                    src="{% static '' %}./public/icon--chevronright.svg"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="blog-49">
        <div class="section-title8">
          <div class="subheading5">Resources</div>
          <div class="content57">
            <h1 class="heading17">Extra Resources</h1>
            <div class="text18">Learn more about our development process.</div>
          </div>
        </div>
        <div class="content58">
          <div class="blogs">
            <div class="row11">
              <div class="card6">
                <img
                  class="placeholder-image-icon12"
                  loading="lazy"
                  alt=""
                  src="{% static '' %}./public/Wix.com_Logo.png"
                  id="placeholderImage1"
                />

                <div class="content59">
                  <div class="content60">
                    <div class="card-intro">Details</div>
                    <h3 class="heading18">Check out our Portfolio!</h3>
                    <div class="card-body">
                      Explore the process behind the development in more detail
                      here!
                    </div>
                  </div>
                  <div class="avatar">
                    <img
                      class="placeholder-image-icon13"
                      loading="lazy"
                      alt=""
                      src="{% static '' %}./public/reading3.png"
                    />

                    <div class="content61">
                      <div class="author-name">Wix</div>
                      <div class="time">
                        <div class="text19">07/04/2024</div>
                        <div class="div9">•</div>
                        <div class="time-duration">5 min read</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card7">
                <img
                  class="placeholder-image-icon14"
                  loading="lazy"
                  alt=""
                  src="{% static '' %}./public/placeholder-image-31@2x.png"
                  id="placeholderImage2"
                />

                <div class="content62">
                  <div class="content63">
                    <div class="text20">Repository</div>
                    <h3 class="heading19">Get the Code!</h3>
                    <div class="text21">
                      See the implementation that made this project possible.
                    </div>
                  </div>
                  <div class="avatar1">
                    <img
                      class="placeholder-image-icon15"
                      loading="lazy"
                      alt=""
                      src="{% static '' %}./public/reading3.png"
                    />

                    <div class="content64">
                      <div class="text22">Github</div>
                      <div class="time1">
                        <div class="text23">7/04/2024</div>
                        <div class="div10">•</div>
                        <div class="text24">5 min read</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row12">
              <div class="card8">
                <img
                  class="placeholder-image-icon16"
                  alt=""
                  src="{% static '' %}./public/reading3.png"
                />

                <div class="content65">
                  <div class="content66">
                    <div class="text25">Category</div>
                    <b class="heading20">Blog title heading will go here</b>
                    <div class="text26">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Suspendisse varius enim...
                    </div>
                  </div>
                  <div class="avatar2">
                    <img
                      class="placeholder-image-icon17"
                      alt=""
                      src="{% static '' %}./public/placeholder-image-21@2x.png"
                    />

                    <div class="content67">
                      <div class="text27">Full name</div>
                      <div class="time2">
                        <div class="text28">11 Jan 2022</div>
                        <div class="div11">•</div>
                        <div class="min-read">5 min read</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card9">
                <img
                  class="placeholder-image-icon18"
                  alt=""
                  src="{% static '' %}./public/placeholder-image-11@2x.png"
                />

                <div class="content68">
                  <div class="content69">
                    <div class="text29">Category</div>
                    <b class="heading21">Blog title heading will go here</b>
                    <div class="text30">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Suspendisse varius enim...
                    </div>
                  </div>
                  <div class="avatar3">
                    <img
                      class="placeholder-image-icon19"
                      alt=""
                      src="{% static '' %}./public/placeholder-image-21@2x.png"
                    />

                    <div class="content70">
                      <div class="text31">Full name</div>
                      <div class="time3">
                        <div class="text32">11 Jan 2022</div>
                        <div class="div12">•</div>
                        <div class="min-read1">5 min read</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="button68" id="button3">
            <div class="button69">About</div>
          </button>
        </div>
      </section>
    </div>

    <script>
      let button = document.getElementById("button");
      if (button) {
        button.addEventListener("click", function (e) {
          window.location.href = "../explore";
        });
      }
      let button1 = document.getElementById("button1");
      if (button1) {
        button1.addEventListener("click", function (e) {
          window.location.href = "../signup";
        });
      }
      
      let button2 = document.getElementById("button2");
      if (button2) {
        button2.addEventListener("click", function (e) {
          window.location.href = "../login";
        });
      }
      
      let placeholderImage1 = document.getElementById("placeholderImage1");
      if (placeholderImage1) {
        placeholderImage1.addEventListener("click", function () {
          window.open("https://arynbht.wixsite.com/atlfoodquest");
        });
      }
      
      let placeholderImage2 = document.getElementById("placeholderImage2");
      if (placeholderImage2) {
        placeholderImage2.addEventListener("click", function () {
          window.open("https://github.com/stephenl99/AtlantaFoodFinder");
        });
      }
      
      let button3 = document.getElementById("button3");
      if (button3) {
        button3.addEventListener("click", function (e) {
          window.location.href = "../about";
        });
      }
      let button4 = document.getElementById("buttonFind");
      if (button4) {
        button4.addEventListener("click", function (e) {
          window.location.href = "../explore";
        });
      }
      let button5 = document.getElementById("buttonFilter");
      if (button5) {
        button5.addEventListener("click", function (e) {
          window.location.href = "../explore";
        });
      }
      let button6 = document.getElementById("buttonFavorite");
      if (button6) {
        button6.addEventListener("click", function (e) {
          window.location.href = "../login";
        });
      }
      let button7 = document.getElementById("buttonReview");
      if (button7) {
        button7.addEventListener("click", function (e) {
          window.location.href = "https://www.yelp.com/writeareview";
        });
      }
      </script>
  {% include 'footer.html' %}
  </body>
</html>
