<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atlanta Food Finder</title>
</head>
<body>
{% include "header.html" %}
</body>
<body>
<div style="text-align: center;">
    <iframe
    width="800"
    height="600"
    style="border:0"
    loading="lazy"
    allowfullscreen
    referrerpolicy="no-referrer-when-downgrade"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAFti1ky6h6R9RLNpRgRHAOLrAR5XXMU4A
    &q=Atlanta+GA">
    </iframe>
</div>
</body>
<body>
<a href="http://localhost:8000/login/?next={{request.path}}">Login</a>
</body>
</html>