<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'figma/global.css' %}">
    <link rel="stylesheet" href="{% static 'figma/Signup.css' %}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
  {% include 'heading.html' %}
    <div class="signup">
      <main class="sign-up-71">
        <div class="column5">
          <div class="navbar1">
            <img
              class="company-logo-icon3"
              loading="lazy"
              alt=""
              src="{% static '' %}./public/company-logo1.svg"
            />
          </div>
          <div class="content11">
            <div class="section-title1">
              <h1 class="heading1">Sign Up</h1>
              <div class="description1">Create a new account for free!</div>
            </div>
            <form class="form2" method="post" action="{% url 'signup' %}">
              {% csrf_token %}
                <div class="input3">
                <div class="name1">Name*</div>
                <input class="text-input4" type="text" name="username" required />
              </div>
              <div class="input4">
                <div class="email1">Password*</div>
                <input class="text-input5" type="password" name="password1" required />
              </div>
              <div class="input5">
                <div class="password1">Re-Enter Password*</div>
                <input class="text-input6" type="password" name="password2" required />
              </div>
              <div class="container1">
                <div class="buttons1">
                  <button class="button10">
                    <div class="button11">Sign up</div>
                  </button>
                  <button class="button12">
                    <img
                      class="icon-google1"
                      alt=""
                      src="{% static '' %}./public/icon--google.svg"
                    />

                    <div class="button13">Sign up with Google</div>
                  </button>
                </div>
                <div class="content12">
                  <div class="elements">Already have an account?</div>
                  <button class="link20" id="linkText">Log In</button>
                </div>
              </div>
            </form>
          </div>
          <div class="footer2">
            <div class="text1">© 2022 Relume</div>
          </div>
        </div>
        <img
          class="placeholder-image-icon1"
          loading="lazy"
          alt=""
          src="{% static '' %}./public/placeholder-image1@2x.png"
        />
      </main>
    </div>

    <script>
      let linkText = document.getElementById("linkText");
      if (linkText) {
        linkText.addEventListener("click", function (e) {
          window.location.href = "../login";
        });
      }
      </script>
  {% include 'footer.html' %}
  </body>
</html>
