<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'figma/global.css' %}">
    <link rel="stylesheet" href="{% static 'figma/filter.css' %}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="filters2">
      <section class="sidebar1">
        <div class="modal2">
          <div class="modal-inner">
            <div class="heading-parent">
              <h3 class="heading24">Filters</h3>
              <div class="row19">
                <div class="filter-one2">Cuisines</div>
                <div class="clear-frame">
                  <div class="clear6">Clear</div>
                </div>
              </div>
              <div class="checkbox-parent">
                <div class="checkbox16">
                  <input class="frame-input14" type="checkbox" />

                  <div class="label16">American</div>
                </div>
                <div class="checkbox17">
                  <input class="frame-input15" type="checkbox" />

                  <div class="label17">Chinese</div>
                </div>
                <div class="checkbox18">
                  <input class="frame-input16" type="checkbox" />

                  <div class="label18">Cuban</div>
                </div>
                <div class="checkbox19">
                  <input class="frame-input17" type="checkbox" />

                  <div class="label19">Japanese</div>
                </div>
                <div class="checkbox20">
                  <input class="frame-input18" type="checkbox" />

                  <div class="label20">Korean</div>
                </div>
                <div class="checkbox21">
                  <input class="frame-input19" type="checkbox" />

                  <div class="label21">Mediterranean</div>
                </div>
                <div class="checkbox22">
                  <input class="frame-input20" type="checkbox" />

                  <div class="label22">Mexican</div>
                </div>
                <div class="checkbox23">
                  <input class="frame-input21" type="checkbox" />

                  <div class="label23">Vietnamese</div>
                </div>
              </div>
            </div>
          </div>
          <div class="filter-three-parent">
            <div class="filter-three-wrapper-parent">
              <div class="filter-three-wrapper1">
                <div class="filter-three3">
                  <div class="row20">
                    <div class="filter-three4">Ratings</div>
                    <div class="clear7">Clear</div>
                  </div>
                  <div class="option-wrapper2">
                    <div class="checkbox-33">
                      <div class="button83">5.0</div>
                    </div>
                    <div class="checkbox-34">
                      <div class="button84">4.0</div>
                    </div>
                    <div class="checkbox-42">
                      <div class="button85">3.0</div>
                    </div>
                    <div class="checkbox-52">
                      <div class="button86">2.0</div>
                    </div>
                    <div class="checkbox-62">
                      <div class="button87">1.0</div>
                    </div>
                  </div>
                </div>
                <div class="filter-six-parent">
                  <div class="row21">
                    <div class="filter-six2">Distance</div>
                    <div class="frame-div">
                      <div class="clear8">Clear</div>
                    </div>
                  </div>
                  <div class="slider-frame">
                    <div class="slider2">
                      <div class="progress-bar2"></div>
                      <div class="circle2"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="empty-filter-label-wrapper">
                <div class="empty-filter-label">0</div>
              </div>
            </div>
          </div>
          <footer class="modal-footer2">
            <div class="button-container">
              <div class="button88">
                <div class="button89">Clear all</div>
              </div>
            </div>
            <button class="button90">
              <div class="button91">Apply</div>
            </button>
          </footer>
        </div>
        <div class="column18">
          <div class="click-and-paste4">Click and paste Side Panel Content</div>
        </div>
      </section>
    </div>
  </body>
</html>
