{% load static %}
<!DOCTYPE html>
<html lang="ee">
  <head>
      {% include 'heading.html' %}
      <div id="search">
    <div id="restaurantsBox">
{#        <h2>Favorite Restaurants</h2>#}
        <ul id="restaurantList">
        </ul>
    </div>
</div>
      {% include 'filterBar.html' %}
    <title>AFF</title>
    <!--<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>-->

    <link rel="stylesheet" href="{% static '/aff/index.css' %}">
    <script type="module" src="{% static '/aff/index.js' %}"></script>
  </head>
  <body>


{#You can decide if need this button, just clears markers for clarity.#}
{#All of the following stuff is essential, displays map, loads js file, and gets data of current user and restaurants associated#}
  <script src="{% static 'aff/test.js' %}"></script>
    <div id="map"></div>

    <!-- prettier-ignore -->
{#this accesses api#}
    <script>(g=>{let h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});let d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "AIzaSyAFti1ky6h6R9RLNpRgRHAOLrAR5XXMU4A", v: "weekly"});</script>
  <script src="{% static 'aff/index.js' %}"></script>
{#following gets user and favorites#}

  <script>
      let data = JSON.parse("{{data|escapejs}}");
      let y = 0;
      let temp1;
      let temp2;
      for (let x in data) {
          if (y == 0) {
              temp1 = data[x];
              y = y + 1;
          } else {
              temp2 = data[x];
          }
      }
      name(temp1, temp2);
  </script>
  {% include 'footer.html' %}
  </body>
</html>