{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <title>Test</title>
    <link rel="stylesheet" href="{% static 'aff/index.css' %}">
    <script type="module" src="{% static 'aff/index.js' %}?"></script>
</head>
<body>
<div id="map"></div>

    <!-- prettier-ignore -->
    <script>(g=>{let h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});let d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "AIzaSyAFti1ky6h6R9RLNpRgRHAOLrAR5XXMU4A", v: "weekly"});</script>
{% if list %}
    {% for R in list %}
        {{ R.lon }}
        <script>
        let m = new google.maps.Marker({
            map: map,
            position: {lat: {{ R.lat }}, lng: {{ R.lon }}},
            title: 'test'
        });
        window.initMap = initMap;
        </script>
    {% endfor %}
{% endif %}
<b>hello</b>
</body>
</html>